<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
        <link rel="stylesheet" href="../static/style_index.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    </head>
    <body>
        <header class="top-nav">
            <div class="logo">
                <a href="../template/index.html">ПАМЯТНИКИ РФ</a>
            </div>
            <div class="links">
                <!-- <div class="links_of_general">
                    <a href="" class="hhh">История</a>
                    <a href="" class="hhh">Как отмечают сейчас</a>
                </div> -->
                <div class="title_main">
                    <label class="menu-button-container" for="menu-toggle">ГОРОДА</label>
                </div>
                <!-- <p>Города ----</p> -->
                <div class="links_of_cities">
                    <input id="menu-toggle" type="checkbox" />
                    <label class='menu-button-container' for="menu-toggle">
                    <div class='menu-button'></div>
                    </label>
                    <ul class="menu">
                        <li><a href="../template/index_1.html">Исторический центр Санкт-Петербурга и связанные с ним группы памятников</a></li>
                        <li><a href="../template/index_2.html">Кижский погост</a></li>
                        <li><a href="../template/index_3.html">Московский Кремль и Красная Площадь</a></li>
                        <li><a href="../template/index_4.html">Белокаменные памятники Владимира и Суздаля</a></li>
                        <li><a href="../template/index_5.html">Историко-культурный комплекс Соловецких островов</a></li>
                        <li><a href="../template/index_6.html">Исторические памятники Великого Новгорода и окрестностей </a></li>
                        <li><a href="../template/index_7.html">Архитектурный ансамбль Троице-Сергиевой лавры в городе Сергиев Посад</a></li>
                    </ul>
                </div>
            </div>
            </div>
            </div>
            
        </header>
        <main>
            <div class="info">
                <div class="information" id="all">
                    <h1><br><br>Кижский погост</h1>
                    <p>Кижский погост расположен на одном из многочисленных островов Онежского озера, в Карелии. Здесь можно увидеть две деревянные церкви XVIII в., а также восьмигранную колокольню, построенную из дерева в 1862 г. Эти необычные сооружения, являющиеся вершиной плотницкого мастерства, представляют собой образец древнего церковного прихода и гармонично сочетаются с окружающим природным ландшафтом.</p>
                    <img src="https://whc.unesco.org/uploads/thumbs/site_0544_0001-594-0-20090925172613.jpg">
                </div>
            </div>
        </main>
        <footer>
            <div>Сделал: Столяров Тимофей</div>
        </footer>
    </body>
</html>